<div id="add-player-form">
  <form class="save-player">
    <label for="newPlayer">New Player</label>
      {{input id="newPlayer" class="form-control" value=playerName required='required'}}
    <button class="btn btn-warning" {{action 'addPlayer'}}>Save</button>
  </form>
</div>
