

<ul>
  {{#each}}
  <li>{{#link-to 'team' this.id}}{{teamName}}{{/link-to}}</li>
  {{/each}}
</ul>

<div class='row'>
  <div class='col-md-6' id='team1'>
    <p>
    </p>
  </div>

  <div class='col-md-6' id='team2'>
    <p>
    </p>
  </div>
</div>

  {{#link-to 'new-team' classNames='btn btn-primary'}} Add Teams{{/link-to}}
  {{outlet}}
