<div class='row'>

  <ul>
    {{#each}}
    <li>{{teamName}}</li>
    {{/each}}
  </ul>

  <div class='col-md-6' id='team1'>
    <p>
      {{#link-to 'new-team' classNames='btn btn-primary'}} Add Teams{{/link-to}}
    </p>
    {{outlet}}
  </div>

  <div class='col-md-6' id='team2'>
    <p>
    </p>
  </div>
</div>
