<div id='add-team'>
  {{#link-to 'new-team' classNames='btn btn-primary'}} Add Teams{{/link-to}}
  {{outlet}}
</div>

<div class='row'>
  <ul>
    {{#each}}
      <div class='col-md-6'>
        <li>{{#link-to 'team' this.id}}{{teamName}}{{/link-to}}</li>
        <!-- each player -->
          <ul>
              <li></li>
          </ul>
          <br>
      </div>
    {{/each}}
  </ul>
</div>
